<?php

$version = '12';
$rooturi = 'http://data.kasabi.com/dataset/chembl-rdf/' . $version . '/';

$db = 'chembl_' . $version;
$user = 'user';
$pwd = 'secret';

// use the next line to limit the output 
// $limit = ' LIMIT 5';
$limit = '';

?>
