; edit this file and save it as var.properties

[input]
version=13
importedOn=2012-10-24T10:30:01
importedBy=http://egonw.github.com/#me
dbprefix=chembl_

[conversion]
mysqliini=/etc/php5/conf.d/20-mysqli.ini
limit=LIMIT 1

[output]
subversion=6
rooturi=http://linkedchemistry.info/chembl/
datadump=http://semantics.bigcat.unimaas.nl/chembl/
